In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.12.5)

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np

In [3]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
page=requests.get(url).text

In [4]:
soup=BeautifulSoup(page,'html.parser')

In [5]:
FirstPos=soup.find('span',class_='rankings-block__pos-number').text.split()
FirstBowlName=soup.find('div',class_='rankings-block__banner--name-large').text
timNam=soup.find('div',class_='rankings-block__banner--nationality').text.split()
Rate=soup.find('div',class_='rankings-block__banner--rating').text

In [6]:
TopBowler1_df=pd.DataFrame({'POSITION': FirstPos, 'BOWLER NAME': FirstBowlName, 'TEAM NAME': timNam,'RATING':Rate})

In [7]:
TOp_bowler=soup.findAll('tr',attrs={'class':'table-body'})

In [8]:
position=[]
Bowler=[]
TeamName=[]
Rating=[]

for store in TOp_bowler:
    bow=store.find('span',class_='rankings-table__pos-number').text.split()
    position.append(bow)
    
    bowName= store.find('td',class_='table-body__cell rankings-table__name name').text.replace('[' , '').split()
    Bowler.append(bowName)
    
    temName= store.find('span',class_='table-body__logo-text').text
    TeamName.append(temName)
    
    rat=store.find('td',class_='table-body__cell rating').text
    Rating.append(rat)

In [9]:
TopBowler_df = pd.DataFrame({'POSITION': position, 'BOWLER NAME': Bowler, 'TEAM NAME': TeamName,'RATING':Rating})

In [10]:
frames = [TopBowler1_df, TopBowler_df]
top_odi_bowler = pd.concat(frames)

In [11]:
top_odi_bowler.head(5)

  POSITION           BOWLER NAME TEAM NAME RATING
0        1           Trent Boult        NZ    726
0      [2]       [Chris, Woakes]       ENG    700
1      [3]     [Josh, Hazlewood]       AUS    698
2      [4]         [Matt, Henry]        NZ    683
3      [5]  [Mujeeb, Ur, Rahman]       AFG    681