In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.4)

In [2]:
from bs4 import BeautifulSoup
import pandas as pd 
import requests
import numpy as np

In [3]:
link='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
page=requests.get(link).text

In [4]:
soup=BeautifulSoup(page,'html.parser')

In [11]:
FirstPos=soup.find('span',class_='rankings-block__pos-number').text.split()
FirstBatName=soup.find('div',class_='rankings-block__banner--name-large').text
timNam=soup.find('div',class_='rankings-block__banner--nationality').text.split()
Rate=soup.find('div',class_='rankings-block__banner--rating').text

In [12]:
TopBat_df=pd.DataFrame({'POSITION': FirstPos, 'BATSMAN NAME': FirstBatName, 'TEAM NAME': timNam,'RATING':Rate})

In [14]:
batswoman_data=soup.findAll('tr',class_='table-body')

In [15]:
position=[]
Batsman=[]
TeamName=[]
Rating=[]

for store in batsman_data:
    bat=store.find('span',class_='rankings-table__pos-number').text.split()
    position.append(bat)
    
    BatName= store.find('td',class_='table-body__cell rankings-table__name name').text.replace('[' , '').split()
    Batsman.append(BatName)
    
    temName= store.find('span',class_='table-body__logo-text').text
    TeamName.append(temName)
    
    rat=store.find('td',class_='table-body__cell rating').text
    Rating.append(rat)

In [16]:
TopBat_df2=pd.DataFrame({'POSITION': position, 'BATSMAN NAME': Batsman, 'TEAM NAME': TeamName,'RATING':Rating})

In [17]:
topers=[TopBat_df,TopBat_df2]
TOP_BATWOMEN=pd.concat(topers)

In [19]:
TOP_BATWOMEN.head(5)

  POSITION        BATSMAN NAME TEAM NAME RATING
0        1        Alyssa Healy       AUS    785
0      [2]   [Natalie, Sciver]       ENG    750
1      [3]      [Beth, Mooney]       AUS    748
2      [4]  [Laura, Wolvaardt]        SA    722
3      [5]      [Meg, Lanning]       AUS    710