In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.4)

In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [4]:
link='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page=requests.get(link).text

In [7]:
soup=BeautifulSoup(page,'html.parser')

In [8]:
FirstPos=soup.find('td',class_='rankings-block__banner--pos').text.split()
FirstTeamName=soup.find('span',class_='u-show-phablet').text
matc=soup.find('td',class_='rankings-block__banner--matches').text
point=soup.find('td',class_='rankings-block__banner--points').text
Rate=soup.find('td',class_='rankings-block__banner--rating u-text-right').text.split()

In [9]:
TopTeam1=pd.DataFrame({'POSITION': FirstPos, 'TEAM NAME': FirstTeamName, 'MATCH': matc,'POINT': point,'RATING':Rate})

In [11]:
Odi_data=soup.findAll('tr',attrs={'class':'table-body'})

In [12]:
Pos=[]
TeamName=[]
Matches=[]
Point=[]
Rating=[]

In [13]:
for store in Odi_data:
    pos = store.find('td',class_='table-body__cell table-body__cell--position u-text-right').text
    Pos.append(pos)
    
    team=store.find('span',class_='u-show-phablet').text
    TeamName.append(team)
    
    matches=store.find('td',class_='table-body__cell u-center-text').text
    Matches.append(matches)
    
    point= store.find('td',class_='table-body__cell u-center-text').text
    Point.append(point)
    
    rating=store.find('td',class_='table-body__cell u-text-right rating').text.strip()
    Rating.append(rating)

In [14]:
TopTeam= pd.DataFrame({'POSITION': Pos, 'TEAM NAME': TeamName, 'MATCH': Matches,'POINT': Point,'RATING':Rating})

In [15]:
TopOdiTeam = [TopTeam1, TopTeam]
TopOdiTeamList = pd.concat(TopOdiTeam)

In [16]:
TopOdiTeamList

  POSITION TEAM NAME MATCH  POINT RATING
0        1       AUS    29  4,840    167
0        2        SA    28     28    125
1        3       ENG    30     30    118
2        4       IND    29     29     99
3        5        NZ    31     31     98
4        6        WI    28     28     89
5        7       BAN    12     12     78
6        8       PAK    26     26     67
7        9       IRE     5      5     48
8       10        SL     5      5     47
9       11       ZIM     8      8      0