In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.12.5)

In [2]:
from bs4 import BeautifulSoup
import pandas as pd 
import requests
import numpy as np

In [3]:
link='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
page = requests.get(link).text

In [4]:
soup=BeautifulSoup(page,'html.parser')

In [5]:
FirstPos=soup.find('span',class_='rankings-block__pos-number').text.split()
FirstBatlName=soup.find('div',class_='rankings-block__banner--name-large').text
timNam=soup.find('div',class_='rankings-block__banner--nationality').text.split()
Rate=soup.find('div',class_='rankings-block__banner--rating').text

In [6]:
TopBat_df=pd.DataFrame({'POSITION': FirstPos, 'BATSMAN NAME': FirstBatlName, 'TEAM NAME': timNam,'RATING':Rate})

In [7]:
batsman_data=soup.findAll('tr',class_='table-body')

In [8]:
position=[]
Batsman=[]
TeamName=[]
Rating=[]

for store in batsman_data:
    bat=store.find('span',class_='rankings-table__pos-number').text.split()
    position.append(bat)
    
    BatName= store.find('td',class_='table-body__cell rankings-table__name name').text.replace('[' , '').split()
    Batsman.append(BatName)
    
    temName= store.find('span',class_='table-body__logo-text').text
    TeamName.append(temName)
    
    rat=store.find('td',class_='table-body__cell rating').text
    Rating.append(rat)

In [9]:
TopBat_df2=pd.DataFrame({'POSITION': position, 'BATSMAN NAME': Batsman, 'TEAM NAME': TeamName,'RATING':Rating})

In [10]:
topers=[TopBat_df,TopBat_df2]
TOP_BATSMAN=pd.concat(topers)

In [12]:
TOP_BATSMAN.head(5)

  POSITION         BATSMAN NAME TEAM NAME RATING
0        1           Babar Azam       PAK    891
0      [2]       [Virat, Kohli]       IND    811
1      [3]        [Imam-ul-Haq]       PAK    795
2      [4]      [Rohit, Sharma]       IND    791
3      [5]  [Quinton, de, Kock]        SA    789